$main-font: 'Montserrat', 'Arial', sans-serif;
$secondary-font: 'Roboto', 'Arial', sans-serif;
$title-br-font: 'Kaushan Script', 'Arial', sans-serif;

$main-color: rgb(255, 255, 255);
$color-hover: rgb(252, 227, 138);
$text-color: rgb(51, 51, 51);
$color-after: rgb(243, 129, 129);
$icon-color: rgb(149, 225, 211);
$descr-color: rgb(153, 153, 153);
$footer-border-color: rgb(229, 229, 229);
$placeholder-color: rgb(204, 204, 204);
$input-border-color: rgb(231, 231, 231);
